extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title 
              h2 Extended title.
          p
            The page features 
            span(class="highlight") demos and visualizations in the field of unsupervised data mining
            | demonstrating etc. If you want to know more about these demos you can contact us at demo@mail.com
            |.

    section(class="main-content")
      h3 The following demos are available:
      ol(class="round")
          li(class="one")
              h5 Interactive visualization of user-item co-clusters in recommender systems
              p 
                | Short description of the demo.  
                a(href='/setParameters') Learn more...
          li(class="two")
              h5 Interactive visualization of word-document co-clusters
              p 
                | Short description of the demo.  
                a(href='/setParametersDocTerm') Learn more...
