extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title 
          p
            | This page features 
            span(class="highlight") demos and visualizations in the field of unsupervised data mining
            |.
            | These demos have been deployed on Azure as part of an <b>Azure Research Grant given by Microsoft Research</b> to Paris Descartes 
            | University (Machine learning Team).

    section(class="main-content")
      h3 The following demos are available:
      ol(class="round")
          li(class="one")
              h5 Interactive visualization of user-item co-clusters in recommender systems
              p 
                | Short description of the demo.  
                a(href='/setParameters') Learn more...
          li(class="two")
              h5 Interactive visualization of word-document co-clusters
              p 
                | Short description of the demo.  
                a(href='/setParametersDocTerm') Learn more...
