<!doctype html>
<html>
  <head>
    <title>WebSockets</title>
    <meta charset="utf-8" />
    <style type="text/css">
      body {
        text-align: center;
        min-width: 500px;
      }
    </style>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
	  
	    var host="localhost";
		var port=8888;
		var uri="/testCommunications/ws";
 
        var ws;
        $("#ok").click(function(evt) {
          evt.preventDefault();
          alert("OK pressed for " +  "ws://" + host + ":" + port + uri );
	  var corpus=	$("#corpus").val();
          var nbrows = $("#nbrows").val();
          var nbcols = $("#nbcols").val();
 
          websocket = new WebSocket("ws://" + host + ":" + port + uri);
		  
	  //  SUPPORT FUNCTIONS 
          function doSend(message) { writeToScreen("SENT TO SERVER: " + message);  websocket.send(message);
		  }  
          function writeToScreen(message) { var pre = document.createElement("p"); 
                                            pre.style.wordWrap = "break-word";
					    pre.innerHTML = message; output.appendChild(pre); 
		  }  
		  
		  
          // HANDLERS
          var msg='{"corpus" :' +  '"' + corpus + '",' + '"nbrows" :' + nbrows + ','      + '"nbcols" : ' + nbcols  + '}';
          function onOpen(evt) { writeToScreen("CONNECTED");
                                doSend(msg);
		  } 
          function onClose(evt) { writeToScreen("DISCONNECTED " + evt); 
		  }  
          function onMessage(evt) { 
		                           writeToScreen('<span style="color: blue;">RESPONSE FROM SERVER: ' + evt.data+'</span>');
                                   websocket.close(); 
		  } 
          function onError(evt) { writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); 
		  } 
          
          websocket.onopen = function(evt) { onOpen(evt) }; 
          websocket.onclose = function(evt) { onClose(evt) }; 
          websocket.onmessage = function(evt) { onMessage(evt) }; 
          websocket.onerror = function(evt) { onError(evt) }; 
		  
		  });
 
      });
    </script>
  </head>
 
  <body>
    <h1>WebSockets Hello World</h1>
    <div>
      <label for="host">Corpus Name:</label>
      <input type="text" id="corpus" style="background:#00FF00;"/><br />
      <label for="host">Number of rows:</label>
      <input type="text" id="nbrows" style="background:#00FF00;"/><br />
      <label for="port">Number of cols:</label>
      <input type="text" id="nbcols" style="background:#00FF00;"/><br />
      <input type="submit" id="ok" value="ok" />
    </div>
	<h2>WebSocket Test</h2>
	<div id="output"></div>
  </body>
</html>
