extends ../layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h2 Coclustering a corpus
    section(class="main-content")
      form(name="input", action="bipartiteDocsTerms", method="get")
            p Corpus Name
            input(type="text", name="corpus" , value="pubmed2")
            p nbrowcluster
            input(type="number", name="nbrowcluster")
            p nbcolcluster
            input(type="number", name="nbcolcluster")
            br
            input(type="submit", value="OK")
        br
  
