extends ../layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h2 Coclustering a corpus
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
    <link href = "/css/Bipartite.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link href="langnet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    section(class="main-content")
      form(name="input")
            p Corpus Name
            input(type="text", name="corpus" ,id="corpus", value="pubmed2")
            p nbrowcluster
            input(type="number", name="nbrowcluster",id="nbrows")
            p nbcolcluster
            input(type="number", name="nbcolcluster", id="nbcols")
            br
            input(type="submit", id="ok", value="OK")
        br

      h2 Response
      div( id="output")
    script.
      $(document).ready(function () {
      
         var host="localhost";
         var port=8888;
         var uri="/ws";
 
         var ws;
         $("#ok").click(function(evt) {
           evt.preventDefault();
           alert("OK pressed for " +  "ws://" + host + ":" + port + uri );
           var corpus=   $("#corpus").val();
           var nbrows = $("#nbrows").val();
           var nbcols = $("#nbcols").val();
 
           websocket = new WebSocket("ws://" + host + ":" + port + uri);
          
           //SUPPORT FUNCTIONS 
           function doSend(message) { writeToScreen("SENT TO SERVER: " + message);  websocket.send(message);
           }  
           function writeToScreen(message) { var pre = document.createElement("p"); 
                                             pre.style.wordWrap = "break-word";
                         pre.innerHTML = message; output.appendChild(pre); 
           }  
          
          
           // HANDLERS
           var msg='{"corpus" :' +  '"' + corpus + '",' + '"nbrows" :' + nbrows + ','      + '"nbcols" : ' + nbcols  + '}';
           function onOpen(evt) { writeToScreen("CONNECTED");
                                 doSend(msg);
           } 
           function onClose(evt) { writeToScreen("DISCONNECTED " + evt); 
           }  
           function onMessage(evt) { 
                                    writeToScreen('<span style="color: blue;">RESPONSE FROM SERVER: ' + evt.data+'</span>');
                                    websocket.close(); 
           } 
           function onError(evt) { writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); 
           } 
          
           websocket.onopen = function(evt) { onOpen(evt) }; 
           websocket.onclose = function(evt) { onClose(evt) }; 
           websocket.onmessage = function(evt) { onMessage(evt) }; 
           websocket.onerror = function(evt) { onError(evt) }; 
          
           });
 
       });
