<?xml version="1.0"?>
<configuration>
 <system.webServer>    
    <directoryBrowse enabled="false" />       
    <rewrite>
      <rules>
        <rule name="rewrite_test" stopProcessing="true">
          <match url="^urlrewrite_test\.htm$" />
          <action type="CustomResponse" statusCode="202" statusReason="Accepted" statusDescription="Accepted" />
        </rule>
      </rules>
    </rewrite>
 </system.webServer>
</configuration>
